<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'autenticacao/css/Config.css' %}">

</head>
<body>
    <nav style="background-color: #444;" class="navbar navbar-expand-lg navbar-dark">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="">
                        <div class="idioma"><a href="{% url 'logaren' %}"><img src="{% static 'autenticacao/img/eua32.png' %}" alt="English" class="img-fluid" /></a></div>
                    </li>
                </ul>
            </div>
        </nav>

     <div id="header">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
            <img src="{% static 'autenticacao/img/logo.png' %}" alt="Pelegrino" class="img-fluid" />
          </nav>
        </div>
     </div>
     <p></p>
     <div id="main-container">
        <h1>SOLICITAR ORÇAMENTO PERSONALIZADO</h1>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}

        <form id="register-form" action="{% url 'logar' %}" method="post">{% csrf_token %}

            <div class="half-box spacing">
                <label for="username">Usuario</label>
                <input type="text" name="username" id="username" placeholder="Insira seu login">
            </div>
            <div class="half-box spacing">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" placeholder="Digite a sua senha">
            </div>

           <div class="submit">
               <br>
               <br>
               <input type="submit" id="btnsave" value="Login">
               <div >
                   <a href="{% url 'cadastro' %}">Cadastre-se</a>
               </div>
           </div>

      </form>
    </div>
    <p class="error-validation template"></p>

</body>
</html>