<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Alterar senha</title>
</head>
<body>

<div id="header">
        <div class="container">
          <nav class="" align="center">
            <img src="{% static "autenticacao/img/logo.png" %}" alt="Pelegrino" />
          </nav>
        </div>
     </div>
<br>
<br>
<br>
<div align="center">
<form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}

    {{form}}
    <input type="submit" value="Recuperar senha">
    {% if form.errors %}
        {{form.errors}}
    {% endif %}

</form>
</div>
</body>
</html>